<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>供应商链入驻</title>
    <meta name="keywords" content="尧祺,Blobal,B2C,b2c,B2c,b2C,yaoqi,跨境,贸易,B2C,电子商务"/>
    <meta name="description" content="Global电子商务有限公司（简称Global）是一家专注于跨境贸易B2C电子商务公司。/">
    <link rel="icon" href="../static/images/common/favicon.ico" mce_href="../static/images/common/favicon.ico"
          type="image/x-icon">
    <link rel="stylesheet" href="../static/less/main.less"/>
    <link rel="stylesheet" href="../static/css/element.min.css">
</head>
<body>
<div class="supplier-wapper" id="supplierPage">
    <div class="supplier-inner">
        <img src="../static/images/supplier/supplier_bg.jpg" alt="" class="intro_bg1">
        <link rel="import" href="../module/commonHead.html?__inline">
        <p>合作共赢，互惠互利</p>
    </div>
    <div class="supplier-s1">
        <div class="supplier-s1-inner">
            <div class="job-info-box">
                <div class="job-social-box" id="job-social-box">
                    <div class="progress-div" id="progress-div">
                        <h1>申请流程</h1>
                        <div class="blue-bar"></div>
                        <div class="process-detail">
                            <div class="process-blue"></div>
                            <ul>
                                <li>
                                    <img src="../static/images/common/px-pic.png"
                                         data-src="../static/images/recruit/circle_1.png" alt="" class="lazyload">
                                    <p>提交申请</p>
                                </li>
                                <li>
                                    <img src="../static/images/common/px-pic.png"
                                         data-src="../static/images/recruit/circle_2.png" alt="" class="lazyload">
                                    <p>招商洽谈</p>
                                </li>
                                <li>
                                    <img src="../static/images/common/px-pic.png"
                                         data-src="../static/images/recruit/circle_3.png" alt="" class="lazyload">
                                    <p>合作确定</p>
                                </li>
                                <li>
                                    <img src="../static/images/common/px-pic.png"
                                         data-src="../static/images/recruit/circle_4.png" alt="" class="lazyload">
                                    <p>产品销售</p>
                                </li>
                                <li>
                                    <img src="../static/images/common/px-pic.png"
                                         data-src="../static/images/recruit/circle_5.png" alt="" class="lazyload">
                                    <p>订单处理</p>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <h1>供应商注册</h1>
                    <div class="blue-bar"></div>
                    <div class="social-detail">
                        <div class="social-nav-box">
                            <ul class="socail-nav" id="socail-nav">
                                <li v-for="navName in navList" @click="navClickFunc(navName)"
                                    :class="{current: activeName == navName}">{{navName}}
                                </li>
                            </ul>
                            <div class="social-nav-bar" id="social-nav-bar"></div>
                        </div>
                        <div class="form-info">
                            <div class="horse-box">
                                <el-form :label-width="labelWidth" v-if="activename == navList[0]">
                                    <el-form-item label="公司电话：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="法人/经营者：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="统一社会信用代码/注册号：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="公司成立时间：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="公司地址：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="公司简历：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                </el-form>
                                <el-form :label-width="labelWidth" v-if="activename == navList[1]">
                                    <el-form-item label="联系人姓名：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="联系人座机电话：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="联系人手机号码：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="联系人邮箱地址：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="联系人QQ：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                </el-form>
                                <el-form :label-width="labelWidth" v-if="activename == navList[]">
                                    <el-form-item label="营业执照：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="规模类型：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="供应商类型：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="从业人数：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="是否为长期经营：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                </el-form>
                                <el-form :label-width="labelWidth">
                                    <el-form-item label="主要经营类目：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="合作过的电商平台：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="主要销售国家和地区：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="正在合作的电商平台：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="最近一年销售金额：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="每月产品上新数量：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                    <el-form-item label="经营商品图片上传：" required>
                                        <el-input></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="import" href="../module/introVersion.html?__inline">
</div>

<script src="../static/plugins/mod.js"></script>
<script src="../static/plugins/vue.min.js"></script>
<script src="../static/plugins/element.min.js"></script>
<script type="text/javascript">
    require(['../static/js/supplier'], function (supplierJS) {
        supplierJS.supplierObj.init();
    })
</script>

<script type="text/javascript">
    new Vue({
        el: '#supplierPage',
        data() {
            return {
                labelWidth: '200px',
                navList: ['基础信息', '联系方式', '资质证明', '供应商概况'],
                activeName: '',
            }
        },
        methods: {
            navClickFunc(navName) {
                this.activeName = navName;
            }
        },
        mounted() {
            this.activeName = this.navList[0];
        }
    })
</script>

</body>
</html>